POSTGRES_DB=identity_db
POSTGRES_USER=identity_user
POSTGRES_PASSWORD=your_secure_password_here

SPRING_MAIL_USERNAME=your_email@gmail.com
SPRING_MAIL_PASSWORD=your_gmail_app_password

SECURITY_JWT_SECRET_KEY=generate_a_long_random_hex_string_here
